{% extends 'mailing/index.html' %}
{% block content %}

    <!-- Блок рассылок -->
    <main class="container">
        <div class="row mb-2">
            <div class="col-md-12">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-lg h-md-250 position-relative bg-white">

                    <div class="col-2 d-none d-lg-block">
                        <img src="/media/mailing/email.jpg" alt="mdo" width="210" height="210">
                    </div>

                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-success-emphasis">Категория рассылки</strong>
                        <h3 class="mb-0"><strong>Заголовок рассылки</strong></h3>
                        <div class="mb-1 text-body-secondary">Дата и время создания</div>
                        <h4 class="mb-auto">Краткий обзор рассылки в 100 символов ...</h4>
                        <p></p>
                        <div class="row">
                            <div class="col" class="mb-1 text-body-secondary">Периодичность отправки:</div>
                            <div class="col" class="mb-1 text-body-secondary">Статус:</div>
                        </div>
                        <a href="#" class="icon-link gap-1 icon-link-hover stretched-link"></a>
                    </div>

                </div>
            </div>
        </div>
    </main>

    <main class="container">
        <div class="row mb-2">
            <div class="col-md-12">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-lg h-md-250 position-relative bg-white">

                    <div class="col-2 d-none d-lg-block">
                        <img src="/media/mailing/email.jpg" alt="mdo" width="210" height="210">
                    </div>

                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-success-emphasis">Категория рассылки</strong>
                        <h3 class="mb-0"><strong>Заголовок рассылки</strong></h3>
                        <div class="mb-1 text-body-secondary">Дата и время создания</div>
                        <h4 class="mb-auto">Краткий обзор рассылки в 100 символов ...</h4>
                        <p></p>
                        <div class="row">
                            <div class="col" class="mb-1 text-body-secondary">Периодичность отправки:</div>
                            <div class="col" class="mb-1 text-body-secondary">Статус:</div>
                        </div>
                        <a href="#" class="icon-link gap-1 icon-link-hover stretched-link"></a>
                    </div>

                </div>
            </div>
        </div>
    </main>


    <main class="container">
        <div class="row mb-2">
            <div class="col-md-12">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-lg h-md-250 position-relative bg-white">

                    <div class="col-2 d-none d-lg-block">
                        <img src="/media/mailing/email.jpg" alt="mdo" width="210" height="210">
                    </div>

                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-success-emphasis">Категория рассылки</strong>
                        <h3 class="mb-0"><strong>Заголовок рассылки</strong></h3>
                        <div class="mb-1 text-body-secondary">Дата и время создания</div>
                        <h4 class="mb-auto">Краткий обзор рассылки в 100 символов ...</h4>
                        <p></p>
                        <div class="row">
                            <div class="col" class="mb-1 text-body-secondary">Периодичность отправки:</div>
                            <div class="col" class="mb-1 text-body-secondary">Статус:</div>
                        </div>
                        <a href="#" class="icon-link gap-1 icon-link-hover stretched-link"></a>
                    </div>

                </div>
            </div>
        </div>
    </main>


{% endblock %}